In [1]:
import pandas as pd
import yfinance as yf
import requests
from bs4 import BeautifulSoup

# Question 1: Use yfinance to Extract Stock Data
Use yfinance to get data on TSLA stock and storing it as a ticker object:

In [2]:
tesla = yf.Ticker("TSLA")

Extract the history from the ticker object using the history function which returns a dataframe which we will store.

In [ ]:
tesla_data = tesla.history(period = 'max')

**Reset the index, save, and display the first five rows of the tesla_data dataframe using the head function. Upload a screenshot of the results and code from the beginning of Question 1 to the results below.**

In [4]:

tesla_data.reset_index(inplace = True)
tesla_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

# Question 2: Use Webscraping to Extract Tesla Revenue Data

We can't use Yahoo's table for financials with BeautifulSoup as it is not an HTML table, so we will set the url to a different source

In [5]:

url = "https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue"

Now we get to feel like a real data engineer by making our bot mimic a web browser... for science of course

In [6]:
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64)'}

Using the requests library get function, we call the website with the modified headers and store the returned html data

In [7]:
html_data = requests.get(url, headers=headers).text

Initialize a BeautifulSoup object with the raw html data from the url request, and create an empty dataframe with "Year" and "Revenue" columns

In [8]:
soup = BeautifulSoup(html_data, 'html5lib')
tesla_revenue = pd.DataFrame(columns=["Year", "Revenue"])

Loop through the table rows and then their respective fields in the soup object in order to append their data into the dataframe.

In [9]:
for row in soup.find("tbody").find_all("tr"):
    col = row.find_all("td")
    year = col[0].text
    revenue = col[1].text
    tesla_revenue= tesla_revenue.append({"Year":year,"Revenue":revenue}, ignore_index = True)


**Display the last five rows of the tesla_revenue dataframe using the tail function. Upload a screenshot of the results.**

In [10]:
tesla_revenue.tail()

    Year Revenue
9   2013  $2,013
10  2012    $413
11  2011    $204
12  2010    $117
13  2009    $112

# Question 3: Use yfinance to Extract Stock Data
Use yfinance to get data on GME stock and storing it as a ticker object:

In [ ]:
gme = yf.Ticker("GME")

Extract the history from the ticker object using the history function which returns a dataframe which we will store.

In [ ]:
gme_data = gme.history(period = 'max')

**Reset the index, save, and display the first five rows of the gme_data dataframe using the head function. Upload a screenshot of the results and code from the beginning of Question 1 to the results below.**

*Zooming out to show everything since Question 1 would be inconvenient to whomever is grading, so instead I am assuming the question actually meant Question 3 here.*

In [ ]:
gme_data.reset_index(inplace = True)
gme_data.head()

# Question 4: Use Webscraping to Extract GME Revenue Data

We can't use Yahoo's table for financials with BeautifulSoup as it is not an HTML table, so we will set the url to a different source

In [ ]:
url = "https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue"

Now we get to feel like a real data engineer by making our bot mimic a web browser... for science of course

In [ ]:
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64)'}

Using the requests library get function, we call the website with the modified headers and store the returned html data

In [ ]:
html_data = requests.get(url, headers=headers).text

Initialize a BeautifulSoup object with the raw html data from the url request, and create an empty dataframe with "Year" and "Revenue" columns

In [ ]:
soup = BeautifulSoup(html_data, 'html5lib')
gme_revenue = pd.DataFrame(columns=["Year", "Revenue"])

Loop through the table rows and then their respective fields in the soup object in order to append their data into the dataframe.

In [ ]:
for row in soup.find("tbody").find_all("tr"):
    col = row.find_all("td")
    year = col[0].text
    revenue = col[1].text
    gme_revenue= tesla_revenue.append({"Year":year,"Revenue":revenue}, ignore_index = True)

**Display the last five rows of the gme_revenue dataframe using the tail function. Upload a screenshot of the results.**

In [ ]:
gme_revenue.tail()

    Year Revenue
9   2013  $2,013
10  2012    $413
11  2011    $204
12  2010    $117
13  2009    $112